/* login.html stylesheet */
.container {
	position:absolute;
	width: 600px;
	height: 500px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	text-align:center; 
}

.titlePanel {
	position: relative;
	height: 50px;
	background-color: rgb(79,46,132);
}

.titlePanel > h1 {
	color: rgb(255,255,255);
	text-align:center; 
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 25px;
	margin: 0;
    padding-top: 10px
}

.loginButton {
	position: relative;
	padding:100px;
}

#loginBtnImg {
	position: relative;
	width: 350px;
}

.footer {
	position: relative;
	height: 100px;
	background-color: rgb(79,46,132);
	padding-top: 10px;
	box-shadow: 0 7px 4px #777;
}
