.container {
	position:absolute;
	width: 600px;
	height: 600px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	text-align:center;
}

.titlePanel {
	position: relative;	
	height: 50px;
	background-color: #671e75;
}

.titlePanel > h1 {
	color: rgb(255,255,255);
	text-align:center; 
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 25px;
	margin: 0;
    padding-top: 10px

}

.controls {
	position: relative;
	height: 70px;
	border-bottom: 1px solid black;
}

input[name='roomName'] {
	position:absolute;
	padding:16px;
	font-size:18px;
	width:280px;
	top:10px;
	left:10px;
	border:none;
	outline:none;
}

#createBtn {
	float:right;
	background-color: rgb(67, 202, 147);
	margin:8px 5px 8px;
	padding: 17px;
	top:10px;
	width:90px;
	color:#FFF;
	font-family:sans-serif;
	text-decoration: none;
	outline:none;
}

#createBtn:hover {
	background-color: rgb(45, 169, 118);
}

.roomsListDiv {
	position: relative;
	height: 330px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.roomsListDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
}

.roomsListDiv::-webkit-scrollbar
{
	width: 5px;
	background-color: #FFFFFF;
}

.roomsListDiv::-webkit-scrollbar-thumb
{
	background-color: #FFFFFF;
}

.roomsList {
	margin:0px;
	padding:0px;
	list-style:none;
	font-family: sans-serif;
}

.roomsList > a {
	color: #FFF;
	text-decoration: none;
}

.roomsList > a > li {
	padding: 18px;
	background-color: rgb(245, 235, 202);
	color: #000;
	margin-bottom: 1px;
}

.userName {
	position: absolute;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
    top: 24px;
    left: 77px;
    margin: 0;
}

.userPicHolder {
	position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.63);
}

.userPicHolder > img {
	width: 50px;
	height: 50px;
}

#logOutBtn {
	float:right;
	background-color: rgb(226, 98, 92);
	padding: 17px;
	margin:8px 5px 8px;
	width:90px;
	color:#FFF;
	font-family:sans-serif;
	text-decoration: none;
	outline:none;
}

#logOutBtn:hover {
	background-color: rgb(232, 48, 39);
}



.footer {
	position: relative;
	height: 90px;
	background-color: #671e75;
	padding-top: 10px;
	box-shadow: 0 7px 4px #777;
}